<tr>
  <td>
    <%= link_to(cat.name, cat) %>
  </td>
  <td>
    <%= cat.birth_date %>
  </td>
  <td>
    <%= cat.color %>
  </td>
  <td>
    <%= cat.sex %>
  </td>
  <td>
    <%= cat.description %>
  </td>
  <td>
    <%= cat.age %>
  </td>
  <td>
    <%= link_to("Destroy Cat", cat, method: 'delete') %>
  </td>
</tr>
