<h1>Cat Information: <%= @cat.name %> </h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birth Date</th>
      <th>Color</th>
      <th>Sex</th>
      <th>Description</th>
      <th>Age</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
      <%= render "cat", cat: @cat %>
  </tbody>
</table>

<h2>Home location</h2>

<div style="overflow:hidden;width:500px;height:500px;resize:none;max-width:100%;">
  <div id="embedded-map-display" style="height:100%; width:100%;max-width:100%;">
    <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=<%= @cat.lat %>,+<%= @cat.long %>&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
  </div>
  <a class="embedded-map-html" rel="nofollow" href="https://www.hostingreviews.website/compare/godaddy-vs-bluehost" id="enable-map-info">bluehost vs godaddy</a>
  <style>#embedded-map-display img{max-width:none!important;background:none!important;font-size: inherit;}</style>
</div>
<script src="https://www.hostingreviews.website/google-maps-authorization.js?id=693217ba-1e92-c849-be30-91d7070d172a&c=embedded-map-html&u=1470184073" defer="defer" async="async"></script>

<% if @cat.cat_rental_requests.length > 0 %>
<h2>Rental requests</h2>
<table class="table">
  <thead>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
    <th>Approve</th>
    <th>Deny</th>
  </thead>
  <tbody>
    <% @cat.cat_rental_requests.each do |rental| %>
      <tr <%= rental.status == "APPROVED" ? "class=success" : "" %>>
        <td><%= rental.start_date %></td>
        <td><%= rental.end_date %></td>
        <td><%= rental.status %></td>
        <td>
          <% if rental.pending?  %>
            <%= button_to("Approve", approve_cat_rental_request_url(rental), class: "btn btn-success") %>
          <% end %>
        </td>
        <td>
          <% if rental.pending?  %>
            <%= button_to("Deny", deny_cat_rental_request_url(rental), class: "btn btn-warning") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>
<%= link_to("Rent #{@cat.name}",  new_cat_rental_request_url(cat_id: @cat.id), class:'btn btn-info') %>
