<h1>Request a new cat rental</h1>

<form action="/cat_rental_requests" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="form-group">
    <label>Cat:</label>
    <select class="form-control" name="cat_rental_request[cat_id]">
      <% @cats.each do |cat| %>
      <option value="<%= cat.id %>"  <%= cat.id == @rental.cat_id ? "selected" : "" %>><%= cat.name %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label>Start Date:</label>
    <input class="form-control" type="date" name="cat_rental_request[start_date]" value="<%= @rental.start_date %>">
  </div>

  <div class="form-group">
    <label>End Date:</label>
    <input class="form-control" type="date" name="cat_rental_request[end_date]" value="<%= @rental.end_date %>">
  </div>

  <div class="form-group">
    <input class="btn btn-success" type="submit" value="Make Request">
  </div>
</form>
