<h2>Uh, oh you hit an error!</h2>


<h4>Error information</h4>
<ul>
  <li>Error Type:
    <%= @error.class.name %>
    <br>
    <br>
  </li>

  <li>Exception Message:
    <%= @error.message %>
    <br>
    <br>
  </li>

  <li>Backtrace:<br>
    <% @error.backtrace.each do |line| %>
      <%= "#{line}" %> <br>
    <% end %>
    <br>
    <br>
  </li>

  <li>Source code preview:<br>
    <% curr_line = @code_preview[:first_line]  %>
    <% error_line = @code_preview[:problem_line]  %>

    <% @code_preview[:code].each do |line| %>
      <% if curr_line == error_line - 1%>
        <%= "* #{curr_line}: #{line} <=== Error Line" %> <br>
      <% else %>
        <%= "* #{curr_line}: #{line}" %> <br>
      <% end %>
      <% curr_line += 1 %>
    <% end %>
  </li>

</ul>
